.card-wrapper {
  display: flex;
  flex-direction: column;
}
.card-wrapper1 {
  background-color: transparent;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: #ffa50061;
  border-style: solid;
}
.card-wrapper1:hover {
  border-color: orange;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.card-wrapper-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  padding: 13px;
  place-content: center;
}
.heading h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.tools-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  padding: 13px;
  place-content: center;
}
