@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 1rem 4rem !important;
  font-size: 1.2rem !important;
}
.navbar-nav .nav-link {
  margin-right: 15px;
  margin-left: 15px;
  text-transform: uppercase;
}
.nav-link:hover {
  border-bottom: 2px solid orange;
}
.nav-link .active {
  color: white;
  border-bottom: 2px solid orange;
}
/* .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  border-bottom: 2px solid orange;
} */
/* .navbar-dark .navbar-nav .nav-link {
  border-bottom: 2px solid orange;
} */
/*Header*/
.header-wrapper {
  position: relative !important;
  background: url(./assets/shubham-dhage-KD_JkwZEQ5k-unsplash.jpg) no-repeat;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh;
}
/*--------social-icons----------*/
.social-icons-initial {
  height: 60px;
  width: 60px;
  display: flex;
  background-color: rgb(241, 176, 54);
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 50px;
}
.social-icons-initial a {
  cursor: pointer;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.main-info {
  display: flex !important;
  position: absolute !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-family: "Roboto", sans-serif;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main-info h1 {
  color: #ffd54f;
  font-weight: bolder;
  font-size: 90px;
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
  animation-duration: 3s;
  animation-name: slidein;
}
/*--------Typed------*/
.typed-info {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
/*Contact Me*/
.contact-me {
  padding: 0.5rem;
  border: 1px solid orange;
  justify-content: center !important;
  align-items: center !important;
  color: white;
  text-decoration: none;
  border-radius: 0 10px 0 10px;
  font-weight: 700;
  margin-top: 0.625rem;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-me:hover {
  color: white;
  zoom: 1.05;
}
/*-----partocles---------*/
.tsparticles-canvas-el {
  position: absolute !important;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
/*-----profile-picture-------*/
.profile-picture {
  height: 400px;
  width: 300px;
  border-radius: 50px 0 50px 0;
}
.image-heading-wrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*about-wrapper*/
.about-wrapper {
  height: 100vh;
  background-color: #525252;
}
/*project-wrapper*/
.project-wrapper {
  height: 100vh;
  background-color: #525252;
}
/*contact-wrapper*/
.contact-wrapper {
  height: 100vh;
  background-color: black;
}
/*-------About section-------*/
.about-wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
.about-intro h2 {
  color: orange;
  display: flex;
  font-weight: 900;
  padding-left: 150px;
  padding-top: 100px;
}
.about-intro h2 span {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.about-intro p {
  color: white;
  padding-left: 150px;
  width: 70%;
  font-size: larger;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 30px;
}
.about-intro p span {
  color: orange;
  margin-left: 5px;
}
.about-intro p h4 {
  padding-top: 30px;
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*---------Skill Section----------*/
.skill-wrapper {
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  place-content: center;
}
.skill-heading {
  color: white;
}
.skillset-wrapper {
  max-width: 70%;
}
.skill-wrapper-parent {
  display: flex;
  place-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
